
  .link-card,
  .intro-card {
    padding: 10px 12px;
    margin-bottom: 45px;
  }

  h2.title {
    margin: 0;
    font-size: 30px;
    font-weight: bold;
  }

  p.body,
  .caption {
    font-size: 16px;
  }

  p.body {
    color: #000000;
  }

  img {
    max-width: 100%;
    border-radius: 10px;
  }

  h2.intro-title {
    font-size: 30px;
    font-weight: bold;
  }

  p.intro-paragraph {
    font-size: 16px;
    color: #000000;
  }

  @media (min-width: 640px) {
    h2.intro-title {
      margin: 0;
      font-size: 38px;
    }

    p.intro-paragraph {
      font-size: 28px;
    }

    .link-card,
    .intro-card {
      display: flex;
      justify-content: space-between;
      padding: 10px 40px;
    }

    .link-text {
      max-width: 835px;
    }

    h2.title {
      font-size: 38px;
      font-weight: 500;
    }

    p.body,
    .caption {
      font-size: 24px;
      padding-right: 20px;
    }

    img {
      max-width: 800px;
    }
  }
