---
import Layout from "../layouts/Layout.astro";
import Nav from "../layouts/Nav.astro";
import ProjectIntro from "../layouts/Project-Intro.astro";
---

<Layout title="Zafar Peeran">
  <Nav />
  <ProjectIntro
    title="HealthU"
    body="HealthU is a service that aims to raise the priority of students' mental health and wellbeing in higher education. As part of a course curriculum, I was tasked with redesigning or creating a service that solves a problem for students of higher education."
    image="/temp-images/health-gradient.svg"
    role="UX Designer and Research; Duration - 4 Months."
    desc="This is a speculative project."
  />

  <div class="intro-card">
    <div>
      <h2 class="intro-title">Background</h2>
      <p class="intro-paragraph">
        <span class="notation" data-notation-type="bracket">
          Mental health and anxiety are issues I value very highly in my life.
          As my journey in education has gone on, I had felt that there was not
          enough attention or emphasis brought to the struggles that students
          endure during their education. I, and along with several students,
          have experienced setbacks in education due to the difficulties that
          come with stress and anxiety. The stress and anxiety that students
          endure throughout their schooling years is very different than what we
          experience in our daily lives away from school. <br />
          <br />In recent years, there has been increasing acknowledgement of
          the impact mental health and wellbeing has on students and
          individuals' success in school. It is no secret that mental health
          conversations were considered hush and were not given the appropriate
          amount of attention in the past. <br />
          <br />
          <span class="notation" data-notation-type="highlight-2">
            21% of U.S adults experienced mental illness in 2020. This
            represents 1 in 5 adults. 16.5% of U.S youth ages 6-17 experienced a
            mental health disorder.
          </span>
          These are just a few statistics that illustrate the how common mental health
          issues are among our population.
        </span>
      </p>
    </div>
  </div>

  <div class="link-card">
    <div class="link-text">
      <h2 class="title">Problem Statement</h2>

      <p class="body">
        There are plenty of mental health resources available for University
        students to take advantage of. The University of Minnesota - Twin Cities
        does a great job in advertising and making sure that students are aware
        of these resources at any time they see fit, but there are some flaws.
        The main problem being that students find taking advantage of these
        resources <span class="notation" data-notation-type="circle"
          >difficult.</span
        > In this study, I set out to develop a solution that <span
          class="notation"
          data-notation-type="highlight-1"
        >
          bridges the gap between the resources available and the students in
          need.
        </span> Positive mental health and wellbeing is critical to a student's success
        in higher education. Developing a solution that aids individuals that are
        struggling would improve the student experience.
      </p>
    </div>

    <div class="center-image">
      <img src="/temp-images/mockup3.jpg" />
    </div>
  </div>

  <div class="link-card">
    <div class="link-text">
      <h2 class="title">Research</h2>

      <p class="body">
        I sent out a survey to students at the University of Minnesota - Twin
        Cities in an effort to gain a more accurate understanding of how
        students feel about the resources available to them. Of the 20
        respondents, <span class="notation" data-notation-type="highlight-2"
          >75%</span
        > of students stated that they experienced an increased level of stress and
        anxiety when their course load was increased. Only
        <span class="notation" data-notation-type="highlight-2">20%</span> of students
        stated they sought the resources available to them from the University. <span
          class="notation"
          data-notation-type="highlight-2">65%</span
        >
        of students stated that they have stayed up all night at least twice a week
        in order to complete assignments. <span
          class="notation"
          data-notation-type="underline"
        >
          25% of students stated that they felt embarrassed seeking out these
          resources.
        </span> These metrics were the most important to keep in mind when developing
        a solution for students struggling with mental health
      </p>
    </div>

    <div>
      <img src="/temp-images/mockup2.jpg" />
    </div>
  </div>

  <div class="link-card">
    <div class="link-text">
      <h2 class="title">Solution</h2>

      <p class="body">
        Taking into consideration the results of the survey, I set a few goals
        for myself that I wanted to include in a solution to the problem. I
        wanted to put an emphasis on how important maintaining mental health was
        by implementing a <span
          class="notation"
          data-notation-type="highlight-1"
          >daily check up and incentivizing daily activities</span
        > that have proven to improve the mental wellbeing of individuals. <span
          class="notation"
          data-notation-type="highlight-2"
        >
          Creating a direct and instant point of contact for students to get in
          touch with their professors, instructors, and mental health
          professionals
        </span> in case of an emergency was a feature that would decrease the feeling
        of embarassment in students seeking extensions or help due to mental health
        complications. I also wanted to have a means of <span
          class="notation"
          data-notation-type="highlight-1"
        >
          tracking a user's goals and progression
        </span> throughout the month.
      </p>
    </div>

    <div>
      <img src="/temp-images/mockup1.jpg" />
    </div>
  </div>

  <div class="intro-card">
    <div>
      <h2 class="title">Closing</h2>
      <p class="body">
        I am grateful to have the opportunity to work on a project that covers a
        topic that holds a high place in my heart. I truly believe that there is
        not enough attention brought to the struggles and anxiety that the
        average student endures. This service is something I hope my University as well
        as other institutions around the country would consider implementing.
      </p>
    </div>
  </div>
</Layout>
