---
import Layout from "../layouts/Layout.astro";
import Nav from "../layouts/Nav.astro";
import ProjectIntro from "../layouts/Project-Intro.astro";
import Card from "../components/Card.astro";
---

<Layout title="Zafar Peeran">
  <Nav />
  <ProjectIntro
    title="Hoop Radar"
    body="Hoop Radar is a passion project that my classmates and I were instructed to design during a course in University. Hoop Radar is an app that brings all things NBA to a central location."
    image="/temp-images/gradient1.jpg"
    role="UX Designer, Researcher, Prototyping. Duration - 6 Months."
    desc="This is a speculative project."
  />

  <div class="intro-card">
    <div>
      <h2 class="intro-title">Background</h2>

      <p class="intro-paragraph">
        We wanted to provide a platform for basketball fans to consume the
        information they needed, in the most efficient manner. During our
        semester, we were guided through the different steps it takes to bring a
        product to life. Research, Ideation, and Refinement. Each of
        these three phases we learned and applied new principles to make meaningful
        progress in the product development.
      </p>
    </div>
  </div>

  <div class="intro-card">
    <div>
      <h2 class="intro-title">Research</h2>

      <p class="intro-paragraph">
        Our research conducted in this phase started with our survey. We were
        able to determine the type of user that we wanted to target, as well as
        the common tendencies when it came to watching the NBA. After the survey
        and the findings were consolidated, we focused on a competitive analysis
        to pinpoint what features the we wanted to include, considering the
        competition in our field. Displayed are some of the important statistics
        and tools we used that we kept in mind before moving forward with our
        project.
      </p>
    </div>
  </div>

  <div class="center">
    <img class="long" src="/temp-images/research-stats-hoop.png" />
  </div>

  <div class="supp-images">
    <img src="/lotusmap.png" />
    <img src="/companalysis.jpg" />
  </div>

  <div class="link-card">
    <div class="link-text">
      <h2 class="title">Ideation</h2>

      <p class="body">
        Taking into consideration the results of the survey, I set a few goals
        for myself that I wanted to include in a solution to the problem. I
        wanted to put an emphasis on how important maintaining mental health was
        by implementing a daily check up and incentivizing daily activities that
        have proven to improve the mental wellbeing of individuals. Creating a
        direct and instant point of contact for students to get in touch with
        their professors, instructors, and mental health professionals in case
        of an emergency was a feature that would decrease the feeling of
        embarassment in students seeking extensions or help due to mental health
        complications.
      </p>
    </div>

    <div>
      <img src="/temp-images/hoop-radar-mockup.jpg" />
    </div>
  </div>

  <div class="link-card">
    <div class="link-text">
      <h2 class="title">Refinement</h2>

      <p class="body">
        Using all the findings in the ideation phase and the observations from
        our usability study, we were finally able to begin our final stage of
        prototyping and bringing our product to life.
      </p>
    </div>

    <div>
      <img src="/temp-images/hoop-radar-mockup2.jpg" />
    </div>
  </div>
</Layout>

<style>
  .center {
    display: flex;
    justify-content: center;
  }

  @media (min-width: 640px) {
    img.long {
      max-width: 60vw;
    }

    .supp-images {
      display: flex;
      justify-content: space-evenly;
      padding-bottom: 40px;
    }
  }
</style>
