---
import Layout from "../layouts/Layout.astro";
import Nav from "../layouts/Nav.astro";
import ProjectIntro from "../layouts/Project-Intro.astro";
---

<Layout title="Zafar Peeran">
    <Nav />
    <ProjectIntro
        title="Hoop Radar"
        body="Hoop Radar is a passion project that my classmates and I were instructed to design during a course in University. Hoop Radar is an app that brings all things NBA to a central location."
        image="/temp-images/gradient1.jpg"
        role="UX Designer, Researcher, Prototyping. Duration - 6 Months."
        desc="This is a speculative project."
    />

    <div class="intro-card">
        <div>
            <h2 class="intro-title">Background</h2>

            <p class="intro-paragraph">
                We wanted to provide a platform for basketball fans to consume
                the information they needed, in the most efficient manner.
                During our semester, we were guided through the different steps
                it takes to bring a product to life. <span
                    class="notation"
                    data-notation-type="highlight-2"
                    >Research, Ideation, and Refinement.</span
                > Each of these three phases we learned and applied new principles
                to make meaningful progress in the product development.
            </p>
        </div>
    </div>

    <div class="intro-card">
        <div>
            <h2 class="intro-title">Research</h2>

            <p class="intro-paragraph">
                Our research conducted in this phase started with our survey. We
                were able to determine the type of user that we wanted to
                target, as well as the common tendencies when it came to
                watching the NBA. After the survey and the findings were
                consolidated, we focused on a <span
                    class="notation"
                    data-notation-type="circle">competitive analysis</span
                >
                to pinpoint what features the we wanted to include, considering the
                competition in our field. Displayed are some of the important statistics
                and tools we used that we kept in mind before moving forward with
                our project.
            </p>
        </div>
    </div>

    <div class="center">
        <img class="long" src="/temp-images/research-stats-hoop.png" />
    </div>

    <div class="supp-images">
        <img src="/LotusMap.png" />
        <img src="/companalysis.jpg" />
    </div>

    <div class="link-card">
        <div class="link-text">
            <h2 class="title">Ideation</h2>

            <p class="body">
                In our ideation phase we applied our research findings to define
                our target user. With the help of a few ideation tools that
                included a <span
                    class="notation"
                    data-notation-type="highlight-2"
                >
                    lotus map and the creation of low fidelity prototypes,
                </span> we were finally ready to begin our user testing phase. The
                <span class="notation" data-notation-type="circle">problem</span
                >
                we were out to solve with this project is that basketball fans have
                too many options when it comes to consuming content. Our <span
                    class="notation"
                    data-notation-type="underline">goal</span
                > is to develop a solution that brings all the benefits of those
                options into one place for basketball fans of all levels.
            </p>
        </div>

        <div>
            <img src="/temp-images/hoop-radar-mockup.jpg" />
        </div>
    </div>

    <div class="link-card">
        <div class="link-text">
            <h2 class="title">Refinement</h2>

            <p class="body">
                Once we had developed a few low fidelity prototypes, we
                presented our findings in class during a project checkup. There
                was a short Q & A session with all the students afterwards, and
                using that in combination with suggestions from our user
                testing, we were finally able to begin our final stage of
                prototyping and bringing our product to life.
            </p>
        </div>

        <div>
            <img src="/temp-images/hoop-radar-mockup2.jpg" />
        </div>
    </div>
</Layout>

<style>
    .center {
        display: flex;
        justify-content: center;
    }

    @media (min-width: 640px) {
        img.long {
            max-width: 60vw;
        }

        .supp-images {
            display: flex;
            justify-content: space-evenly;
            padding-bottom: 40px;
        }
    }
</style>
