---
import Layout from "../layouts/Layout.astro";
import Intro from "../layouts/Intro.astro";
import Card from "../components/Card.astro";
---

<Layout title="Zafar Peeran">
    <!-- <main>
        <Card
            href="https://docs.astro.build/"
            title="Documentation"
            body="Learn how Astro works and explore the official API docs."
        />
    </main> -->
    <Intro />
</Layout>

<style></style>
