---
import Layout from "../layouts/Layout.astro";
import Intro from "../layouts/Intro.astro";
import Card from "../components/Card.astro";
---

<Layout title="Zafar Peeran">
    <main>
        <Intro />
        <Card
            href="//"
            title="Hoop Radar"
            body="In an effort to create a central place for basketball fans to consume all things NBA."
            image="/temp-images/gradient1.jpg"
        />
        <Card
            href="//"
            title="Google UX"
            body="Optio quod nobis commodi delectus atque nostrum illo nisi minus facilis mollitia."
            image="/temp-images/gradient2.jpg"
        />
        <Card
            href="//"
            title="Daily UI"
            body="Lorem ipsum dolor sit amet consectetur, adipisicing elit."
            image="/temp-images/gradient3.jpg"
        />
    </main>
</Layout>

<style></style>
