---
import Layout from "../layouts/Layout.astro";
import Intro from "../layouts/Intro.astro";
import Footer from "../layouts/Footer.astro";
import Card from "../components/Card.astro";
---

<Layout title="Zafar Peeran">
    <main>
        <Intro />
        <Card
            href="/hoop-radar"
            title="Hoop Radar"
            body="In an effort to create a central place for basketball fans to consume all things NBA."
            image="/temp-images/gradient1.jpg"
        />
        <Card
            href="//"
            title="Google UX"
            body="Optio quod nobis commodi delectus atque nostrum illo nisi minus facilis mollitia."
            image="/temp-images/gradient2.jpg"
        />
        <Card
            href="//"
            title="Daily UI"
            body="Lorem ipsum dolor sit amet consectetur, adipisicing elit."
            image="/temp-images/gradient3.jpg"
        />
        <div class="message">
            Let's get to know each other.
            <div class="caption">Get in touch.</div>
        </div>
        <Footer />
    </main>
</Layout>

<style>
    .message {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0px 12px;
        min-height: 40vh;
        font-size: 30px;
    }

    .caption {
        color: #8d8d8d;
    }

    @media (min-width: 640px) {
        .message {
            font-size: 38px;
            padding: 0px 40px;
        }
    }
</style>
