---
import Layout from "../layouts/Layout.astro";
import Nav from "../layouts/Nav.astro";
import ProjectIntro from "../layouts/Project-Intro.astro";
---

<Layout title="Zafar Peeran">
  <Nav />
  <ProjectIntro
    title="Toxicity"
    body="Toxicty in gaming has been present since the early days of video games. I, alongside a partner, set out to try and find solutions to combat toxicity in our favorite game, Valorant."
    role="UX Designer and Research; Duration - 8 Months."
    image="/temp-images/val-gradient.svg"
  />

  <div>
    <p class="intro">
      <i>
        This is a condensed version of the project, if you would like to view
        the whole report, <a href="/val" class="project-link" target="_blank"
          >click here.</a
        >
      </i>
    </p>
  </div>

  <div class="intro-card">
    <div>
      <h2 class="intro-title">Background</h2>
      <p class="intro-paragraph">
        <span class="notation" data-notation-type="bracket">
          During the pandemic and among the lockdowns, all of my friends and I
          spent so much time gaming, and it felt just like when we were in
          middle school again. Waking up at noon and spending six or more hours
          talking and playing together. We had spent most of our time playing a
          relatively new FPS, first person shooter, that was gaining a lot of
          popularity, <i>Valorant</i>. For as long as we can remember, toxicity
          has been present in the games that we play for hours on end. <i
            >Valorant</i
          > was no exception. My experience when playing alone was completely different
          than playing with my friends. While trying to improve at the game, I was
          constantly met with teammates that would act incredibly hostile whenever
          anyone made a mistake. This was such a regular occurrence for myself, I
          wondered how bad it was for other players. <br />
          <br />I, with the help of a friend, Moneer Ghani, wanted to see if we
          could find some solutions to the problems we and many other players
          faced with our favorite game. <span
            class="notation"
            data-notation-type="highlight-2"
          >
            In this study, we would like to explore and provide some
            recommendations that could alleviate the rampant toxicity issue in
            Valorant and create a more enjoyable experience for all gamers.
          </span>
          <br />
          <br /> We developed a survey and sent it out to determine specific points
          of issues for Valorant users. We asked our respondents to tell us about
          their experience playing <i>Valorant</i>, and what areas they feel
          need the most work. From these two questions we were able to determine
          three pain points that most <i>Valorant</i>
          users experience: <span class="notation" data-notation-type="box"
            >Toxic teammates, agent select, and smurfing.</span
          > We ideated a few solutions that would help these issues and hopefully
          would help make the Valorant experience a much more pleasant experience
          for us all.
        </span>
      </p>
    </div>
  </div>

  <div class="intro-card">
    <div>
      <h2 class="title">Feedback System</h2>

      <p class="intro-paragraph">
        While it is not possible to completely get rid of toxic teammates in
        games, we can take steps towards developing a solution that encourages
        users to be respectful. Blizzard’s <i>Overwatch</i> has a system that associates
        a feedback level with each account to track how their teammates view them.
        In this system, players can give each other commendations for three different
        qualities <span class="notation" data-notation-type="highlight-1"
          >(shot caller, good teammate, and sportsmanship)</span
        > after each match. The system then uses this feedback level and the player's
        behavior history to match them with other players who have similar badges
        and behavior histories, according to feedback from their teammates.<br
        />
        <br /> In our solution displayed below are what we designed. We've denoted
        our commendations as; <span
          class="notation"
          data-notation-type="highlight-2"
        >
          communicative, sportsmanship, and cooperative.
        </span> We designed a level badge that follows the geometric style of <i
          >Valorant</i
        >. We have also designed an in-game example for how we envisioned a
        system to be used. As it currently stands, the likelihood of getting a
        teammate with similar behavior as you is not very high or even
        nonexistent. We believe that implementing a system similar to this in <i
          >Valorant</i
        >
        would encourage players to act more respectful towards one another.
      </p>
    </div>
  </div>

  <div class="supp-images">
    <div>
      <img src="/temp-images/feedback-badges.png" />
      <img src="/temp-images/badge-ingame.png" />
      <img src="/temp-images/feedback-options.png" />
      <img src="/temp-images/feedback-options-2.png" />
    </div>
  </div>

  <div class="intro-card">
    <div>
      <h2 class="title">Verified Accounts</h2>

      <p class="intro-paragraph">
        Based on the responses from our survey, <span
          class="notation"
          data-notation-type="highlight-1">smurfs</span
        > are a gigantic issue for users. <span
          class="notation"
          data-notation-type="circle">"Smurfs"</span
        > are defined as higher skilled players who create new accounts to play at
        lower ranks, disrupting the game's competitive integrity. This is a common
        issue in free-to-play games because players can easily create new accounts
        without paying. One solution that has been effective in another game, <i
          >Counter-Strike: Global Offensive</i
        >, is the use of <span class="notation" data-notation-type="highlight-2"
          >"prime accounts."</span
        > These are accounts that have paid for the game or have linked a phone number
        to verify their identity. Prime accounts can only be matched with other prime
        accounts in special matchmaking. Implementing a verification system for accounts
        in <i>Valorant</i> could reduce the number of smurfs in lower ranks and improve
        the experience for players trying to improve. We have designed two visual
        solutions for indicating a verified account displayed below: a traditional
        verified checkmark, or a glowing green color on the player card. Both options
        are intended to be easily recognizable, while one is consistent with the
        theme and character of the game and the other is a more simplistic approach.
      </p>
    </div>
  </div>

  <div class="center">
    <img src="/temp-images/verification.png" />
  </div>

  <div class="intro-card">
    <div>
      <h2 class="title">Agent Select</h2>

      <p class="intro-paragraph">
        In <i>Valorant</i>, players select their agents to play as and once an
        agent is selected, you cannot change. However, the current system for
        selecting agents has some problems, according to survey respondents.
        <span class="notation" data-notation-type="highlight-2"
          >“Instalocking”</span
        > is a very common pain point among the users we had interviewed. <span
          class="notation"
          data-notation-type="circle">Instalocking</span
        > is defined as users who will select their agent before discussing with
        their teammates. These users have an
        <span class="notation" data-notation-type="highlight-1">advantage</span>
        because they may have faster hardware or faster internet speeds and can quickly
        lock in their agent choice, potentially causing negative experiences for
        other players on the team. This can also lead to <span
          class="notation"
          data-notation-type="highlight-1">toxic behavior</span
        > and players feeling forced to play as agents they are not confident with.
        To address these issues, our suggestion is to implement a waiting period
        before agent selection. This would allow all players, including those with
        slower computers or internet speeds, to have an <span
          class="notation"
          data-notation-type="circle">equal opportunity</span
        > to select an agent and to have a discussion period before making their
        choice.
      </p>
    </div>
  </div>
  <div class="center">
    <img src="/temp-images/agent-select.png" />
  </div>
</Layout>

<style>
  .intro {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    padding: 0px;
  }

  .project-link {
    color: black;
    text-decoration: underline;
  }

  a:hover {
    font-weight: bolder;
    color: blue;
  }

  .supp-images {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    padding-right: 40px;
    padding-left: 40px;
  }

  .center {
    display: flex;
    justify-content: center;
    padding-bottom: 75px;
    padding-right: 10px;

  }

  @media (min-width: 640px) {
    .supp-images{
      padding-left: 90px;
    }
  }

</style>
