---
export interface Props {
    title: string;
    body: string;
    href: string;
    image: string;
}

const { href, title, body, image } = Astro.props;
---

<div class="link-card">
    <div class="link-text">
        <h2>
            {title}
        </h2>
        <p>
            {body}
        </p>
    </div>

    <div class="center-image">
        <a href={href}>
            <img src={image} />
        </a>
    </div>
</div>
<style>
    .link-card {
        padding: 0px 12px;
        margin-bottom: 30px;
    }

    .center-image {
        text-align: center;
    }

    h2 {
        font-size: 30px;
        font-weight: 500;
    }

    p {
        font-size: 20px;
        color: #8d8d8d;
    }

    img {
        max-width: 100%;
        border-radius: 10px;
    }

    @media (min-width: 640px) {
        .link-card {
            display: flex;
            justify-content: space-between;
            padding: 0px 40px;
        }

        .link-text {
            max-width: 835px;
        }

        h2 {
            font-size: 38px;
            font-weight: 500;
        }

        p {
            font-size: 28px;
        }

        img {
            max-width: 650px;
        }
    }
</style>
