<div class="footer">
    <div class="copyright">&copy; Zafar Peeran 2022</div>
    <div class="links">
        <a href="http://" target="_blank">Instagram</a>
        <a href="http://" target="_blank">Twitter</a>
        <a href="http://" target="_blank">Mail</a>
    </div>
</div>

<style>
    .footer {
        font-size: 14px;
        padding: 18px 12px;
        text-align: center;
    }

    a {
        color: black;
        text-decoration: none;
        padding: 0px 5px;
    }

    @media (min-width: 640px) {
        .footer {
            font-size: 22px;
            padding: 18px 40px;
            display: flex;
            justify-content: space-between;
        }
    }
</style>
