<nav>
    <div class="logo">Zafar Peeran</div>
    <div class="nav-links">
        <div class="nav-link">Home</div>
        <div class="nav-link">Projects</div>
        <div class="nav-link">About</div>
        <div class="nav-link">Contact</div>
    </div>
</nav>

<style>
    nav {
        display: flex;
        justify-content: space-between;
        font-size: 22px;
        margin: 18px 40px;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .nav-link {
        margin-left: 10px;
    }
</style>
