<nav>
    <div class="logo"><a href="/">Zafar Peeran</a></div>
    <div class="nav-links">
        <div class="nav-link"><a href="/#Projects">Projects</a></div>
        <div class="nav-link"><a href="">About</a></div>
        <div class="nav-link"><a href="">Contact</a></div>
    </div>
</nav>

<style>
    nav {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        padding: 18px 12px;
    }

    @media (min-width: 640px) {
        nav {
            font-size: 22px;
            padding: 18px 40px;
        }
    }

    a {
        color: black;
        text-decoration: none;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .nav-link {
        margin-left: 10px;
    }
</style>
