<nav>
    <div class="logo"><a href="">Zafar Peeran</a></div>
    <div class="nav-links">
        <div class="nav-link"><a href="">Projects</a></div>
        <div class="nav-link"><a href="">About</a></div>
        <div class="nav-link"><a href="">Contact</a></div>
    </div>
</nav>

<style>
    nav {
        display: flex;
        justify-content: space-between;
        font-size: 22px;
        margin: 18px 40px;
    }

    @media (max-width: 640px) {
        nav {
            font-size: 14px;
            margin: 18px 10px;
        }
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .nav-link {
        margin-left: 10px;
    }
</style>
